<!DOCTYPE html>
<html>
	<head>
		<meta chatset="utf-8">
		<title>Vue.js test</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<script type="text/x-template" id="filtering-template">
			<form>
					<div class="row m-0">
						<div class="col-4 p-2">
							<label for="fiterField">
								Field:<br>
								<select id="filterField" v-model="filter.field">
									<option value="">Disable filters</option>
									<option value="name">Name</option>
									<option value="age">Age</option>
								</select>
							</label>
						</div>
						<div class="col-4 p-2">
							<template v-if="filter.field">
								<label for="filter.query">
									<span v-if="filter.field === 'name'">Includes:</span>
									<span v-else>Is:</span>
									<br>
									<input type="text" id="filterQuery" v-model="filter.query">
								</label>
							</template>
						</div>
						<div class="col-4 p-2">
							<span>
								Active:<br>
								<label for="userStateActive">
									Yes:
									<input type="radio" 
									       id="userStateActive"
									       :value="true"
									       v-model="filter.userState">
								</label>
								<label for="userStateInactive">
									No:
									<input type="radio" 
									       :value="false" 
									       id="userStateInactive"
									       v-model="filter.userState">
								</label>
							</span>
						</div>
					</div>
				</form>
		</script>
		<script type="text/x-template" id="team-member-template">
			<tr :class="getPersonCssClass()" v-show="filterRow()">
				<td>{{ person.name }}</td>
				<td>{{ person.age }}</td>
			</tr>
		</script>
		<div id="app">
			<template>
				<filtering :filter="filter"></filtering>
				<table class="table" v-if="people">
					<template v-for="individual in people">
						<team-member 
						  :person="individual"
						  :filter="filter">
						</team-member>
					</template>
				</table>
			</template>
		</div>

		<script src="https://unpkg.com/vue"></script>
		<script src="main.js"></script>
	</body>
</html>
